[user]
	name = daniel amezcua	
[core]
	editor = nvim
[column]
	ui = auto
[branch]
	sort = -committerdate
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[rebase]
	updateRefs = true
	autoSquash = true
	autoStash = true
