configuration {
    modi: "drun";
    font: "Cascadia Code 32";
    icon-theme: "Papirus-Dark";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    sidebar-mode: false;
}

@import "local.rasi"
